# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME="your_database_name"
DB_USER="your_database_user"
DB_PASSWORD="your_database_password"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD="your_redis_password"

DB_URL=jdbc:postgresql://localhost:5432/"your_database_name"
REDIS_SSL=false

# JWT
# python3 -c "import secrets; print(secrets.token_hex(32))"
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET="your_jwt_secret_key_here" 

JWT_EXPIRY_MS=86400000
JWT_REFRESH_EXPIRY_MS=604800000

# Claude API
GROQ_API_KEY1="your_groq_api_key1_here"
GROQ_API_KEY2="your_groq_api_key2_here"
GROQ_API_KEY3="your_groq_api_key3_here"
GROQ_API_KEY4="your_groq_api_key4_here"
CLAUDE_MODEL=llama-3.3-70b-versatile

# Judge0
JUDGE0_API_URL=https://judge0-ce.p.rapidapi.com
JUDGE0_API_KEY="your_judge0_key_here"

# Server
SERVER_PORT=8080
APP_ENV=development

# To generate an SMTP password for Gmail, you need to use a "Google App Password" because Google no longer allows third-party apps to connect using your standard account password. You will also need to have 2-Step Verification turned on
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=yourapp@gmail.com
MAIL_PASSWORD="your_email_password_here"

MAIL_FROM="your_email_address_here"
MAIL_FROM_NAME="LearnAI"